<!DOCTYPE html>
<html>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Pycon Israel 2019 - 3-5 June</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style>
  .grid-container {
      padding-top: 65px;
      margin: 0;
      grid-column-gap: 20px;
      grid-row-gap: 50px;
      background-color: #fff;
      color: #333;
      font-family: Arial, Helvetica, sans-serif;
      text-align: left;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas:
        'header'
        'timeline'
        'tickets'
        'cfp'
        'workshops'
        'pycon'
        'forwhom'
        'location'
        'faq'
        'footer';
    }
    nav {
      background: #24338b;
    }
    a {
      color: #3e94dd;
      text-decoration: none;
    }
    .map {
      height: 300px;
      width: 300px;
      border-width: 0;
    }
    .header {
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-start;
      background: url('https://pycon.org.il/2019/static/images/pycon-il-header-2019-sm.png');
      background-position: right;
      height: 200px;
      background-repeat: no-repeat;
      background-color: #00010a;
      z-index: 2;
    }
    @media screen and (min-width: 768px) {
      .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 20px;
        grid-template-areas:
          'header header header'
          '. timeline .'
          'tickets cfp workshops'
          'pycon . forwhom'
          'location location location'
          'faq faq faq'
          'footer footer footer';
      }
      .map {
        height: 450px;
        width: 600px;
      }
      .footer {
        background: url('https://pycon.org.il/2019/static/images/footer.bg.jpg');
        height: 187px;
      }
      .header {
        background: url('https://pycon.org.il/2019/static/images/pycon-il-header-2019-md.png');
        height: 300px;
        background-position: right;
        background-repeat: no-repeat;
        background-color: #00010a;
      }
    }
    @media screen and (min-width: 960px) {
      .header {
        background: url('https://pycon.org.il/2019/static/images/pycon-il-header-2019.png');
        height: 300px;
        background-repeat: no-repeat;
        background-position: right;
        background-color: #00010a;
      }
    }
    .anchor {
      padding-top: 70px;
      margin-top: -70px;
    }
    .header {
      grid-area: header;
    }
    .timeline {
      grid-area: timeline;
    }
    .tickets {
      grid-area: tickets;
    }
    .cfp {
      grid-area: cfp;
    }
    .workshops {
      grid-area: workshops;
    }
    .pycon {
      grid-area: pycon;
    }
    .forwhom {
      grid-area: forwhom;
    }
    .location {
      grid-area: location;
    }
    .faq {
      grid-area: faq;
    }
    .footer {
      grid-area: footer;
    }
    .timeline-event li {
      list-style-type: none;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-md fixed-top navbar-dark">
    <img src="https://pycon.org.il/2019/static/images/logo_pyconil_2019.png" width="50" height="50" />
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav navbar-nav">
        <li class="nav-item"><a class="nav-link" href="{{ '/'|url }}">Home</a></li>
        {% for href, title in [
          ['/index.html#location', 'Location'],
          ['/index.html#faq', 'Accessibility FAQ'],
          ['/index.html#sponsors', 'Sponsors'],
          ['/schedule', 'Agenda'],
          ['/blog', 'Blog'],
          ['/blog/code-of-conduct/', 'Code of Conduct'],
          ['/index.html#social', 'Social Media']
        ] %}
        <li class="nav-item">
          <a class="nav-link" href="{{ href|url }}">{{ title }}</a>
        </li>
        {% endfor %}
        <li class="nav-item"><a class="nav-link" href="https://ti.to/pycon-israel/pycon-israel-2019">Tickets</a></li>
      </ul>
    </div>
  </nav>
  <div class="grid-container">
    <div class="header"></div>

    <div class="timeline anchor">
  {% block body %}{% endblock %}
    </div>

  </div>
  <div class="footer"></div>
  </div>
</body>